.projects {
    min-height: 85vh;
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: projects 1s ease-in-out 0s forwards;
    .info-box {
        width: 50vw;
        margin: 0 5vw 0 15vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info-box-title {
            color: #B2E4DB;
            font-size: 2.5em;
            font-weight: 200;
        }
        .info-box-text {
            color: #B2E4DB;
            font-weight: 200;
            word-spacing: 1px;
            margin: 1vh 0 3vh;
        }
        .info-box-list {
            display: flex;
            flex-direction: row;
            list-style: none;
            .info-box-list-item {
                margin: 0 5vw;
            }
            .info-box-list-link {
                text-decoration: none;
                color: #B2E4DB;
                font-weight: 200;
                border-bottom: solid 1px #65e1ca;
                transition: .15s ease;
            }
            .info-box-list-link:active {
                color: #D7FDEC;
                text-shadow: 0 0 20px #50b9df;
                border-bottom: solid 1px #50b9df;
            }
        }
    }
    .projects-menu {
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .projects-title {
            color: #B2E4DB;
            font-size: 3em;
            font-weight: 200;
        }
        .projects-menu-list {
            list-style: none;
            color: #65e1ca;
            padding: 0 1rem;
            position: relative;
            .projects-menu-list-item {
                margin: 2vh 0;
                transition: .15s ease;
                cursor: pointer;
            }
            .projects-menu-list-item:active {
                color: #D7FDEC;
                text-shadow: 0 0 20px #50b9df;
            }
            .active {
                color: #D7FDEC;
                text-shadow: 0 0 20px #50b9df;
            }
        }
        .projects-menu-list::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-image: linear-gradient(to bottom, #A9FBD7, #3a373f);
          }
    }
}

@keyframes projects {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.footer-projectlocation {
    opacity: 0;
    animation: footer 1s ease-in-out 0s forwards;
    @keyframes footer {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
}

@media (max-width: 799px) {
    .projects {
        flex-direction: column-reverse;
        .info-box {
            margin-left: 10vw;
            min-height: 60vh;
            width: 80vw;
            margin-bottom: 5vh;
        }
        .projects-menu {
            width: 100vw;
            flex-direction: row;
            margin-bottom: 2vh;
            .projects-title {
                display: flex;
                justify-content: flex-end;
                font-size: 2.5em;
                padding-right: 1rem;
                width: 45vw;
            }
            .projects-menu-list {
                width: 45vw; 
                .projects-menu-list-item {
                    user-select: none;
                }   
            }
        }
    }
}

@media (min-width: 800px) {
    .info-box-list-link:hover {
        color: #D7FDEC !important;
        text-shadow: 0 0 20px #50b9df;
        border-bottom: solid 1px #50b9df !important;
    }
    .projects-menu-list-item:hover {
        color: #D7FDEC;
        text-shadow: 0 0 20px #50b9df;
    } 
}

@media (min-width: 1400px) {
    .projects {
        .info-box {
            .info-box-title {
                font-size: 3em;
            }
            .info-box-text {
                font-size: 1.2em;
            }
            .info-box-list {
                .info-box-list-item {
                    font-size: 1.2em;
                }
            }
        }
        .projects-menu {
            .projects-menu-list {
                .projects-menu-list-item {
                    font-size: 1.2em;
                }
            }
        }
    }
}