.skills-title-box {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .skills-title {
        font-size: 2.5em;
        font-weight: 200;
        color: #B2E4DB;
        animation: title 1s ease-in-out 0s forwards;
        opacity: 0;
        height: 12.5vh;
    }
    @keyframes title {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

.icon {
    color: #65e1ca;
    font-size: 3em;
    transition: .15s ease;
    cursor: pointer;
}

.icon:active {
    color: #D7FDEC;
    text-shadow: 0 0 30px #50b9df;
}

.icon-row {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0;
}

.icon-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
}

.icon-row1 {
    top: 20vh;
    left: 5vw;
    width: 9vw;
    height: 60vh;
    animation: row 1s ease-in-out 1s forwards;
}

.icon-row2 {
    top: 10vh;
    left: 14vw;
    width: 9vw;
    height: 80vh;
    animation: row 1s ease-in-out 1.1s forwards;
}

.icon-row3 {
    top: 7.5vh;
    height: 12.5vh;
    left: 25vw;
    width: 50vw;
    animation: row 1s ease-in-out 1.2s forwards;
}

.icon-row4 {
    top: 20vh;
    height: 12.5vh;
    left: 25vw;
    width: 50vw;
    animation: row 1s ease-in-out 1.3s forwards;
}

.icon-row5 {
    top: 32.5vh;
    height: 12.5vh;
    left: 25vw;
    width: 50vw;
    animation: row 1s ease-in-out 1.4s forwards;
}

.icon-row6 {
    top: 57.5vh;
    height: 12.5vh;
    left: 25vw;
    width: 50vw;
    animation: row 1s ease-in-out 1.5s forwards;
}

.icon-row7 {
    top: 70vh;
    height: 12.5vh;
    left: 25vw;
    width: 50vw;
    animation: row 1s ease-in-out 1.6s forwards;
}

.icon-row8 {
    top: 82.5vh;
    height: 12.5vh;
    left: 25vw;
    width: 50vw;
    animation: row 1s ease-in-out 1.7s forwards;
}

.icon-row9 {
    top: 10vh;
    right: 9vw;
    width: 9vw;
    height: 80vh;
    animation: row 1s ease-in-out 1.8s forwards;
}

.icon-row10 {
    top: 20vh;
    right: 0;
    width: 9vw;
    height: 60vh;
    animation: row 1s ease-in-out 1.9s forwards;
}

@keyframes row {
    0% {
        opacity: 0;
        color: #D7FDEC;
        text-shadow: 0 0 30px #50b9df;
    }
    100% {
        opacity: 1;
        color: #65e1ca;
        text-shadow: 0 0 0 #50b9df;
    }
}

@media (max-width: 599px) {
    .skills-title-box {
        .skills-title {
            font-size: 1.7em;
        }
    }
}

@media (max-width: 800px) {
    .skills-title-box {
        height: 15vh;
        padding: 1rem 0;
        .skills-title {
            width: 60vw;
            text-align: center;
        }
    }
    .icon-box {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon-row {
            position: static;
            height: 8vh;
            width: 80vw;
            .icon {
                font-size: 2.5em;
            }
        }
        .icon-column {
            flex-direction: row;
            position: static;
            height: 8vh;
            width: 80vw;
            .icon {
                font-size: 2.5em;
            }
        }
        .icon-first, .icon-last {
            justify-content: space-evenly;
        }
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .skills-title-box {
        .skills-title {
            font-size: 2.5em;
        }
    }
}

@media (min-width: 801px) and (max-width: 999px) {
    .skills-title-box {
        .skills-title {
            font-size: 2.5em;
            width: 50vw;
            text-align: center;
        }
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .skills-title-box {
        .skills-title {
            font-size: 2.5em;
            width: 50vw;
        }
    }
}

@media (min-width: 800px) {
    .icon:hover {
        color: #D7FDEC;
        text-shadow: 0 0 30px #50b9df;
    }
}

@media (min-width: 1400px) {
    .skills-title-box {
        .skills-title {
            font-size: 3em;
        }
    }
    .icon {
        font-size: 4em;
    }
}
