.footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-list {
      list-style: none;
      display: flex;
      .footer-list-item {
        margin: 0 7.5vw;
        font-size: 2em;
        cursor: pointer;
        transition: .1s ease;
        color: #B0C6CE;
      }
      .footer-list-item:active{
        color: #D7FDEC;
        text-shadow: 0 0 15px #50b9df;
      }
    }
  }

  @media (min-width: 800px) {
    .footer-list-item:hover{
      color: #D7FDEC !important;
      text-shadow: 0 0 15px #50b9df;
    }
  }

  @media (min-width: 1400px) {
    .footer {
      .footer-list {
        .footer-list-item {
          font-size: 2.5em;
        }
      }
    }
  }