@keyframes shadow {
  0% {background-position: -150% 0;}
  100% {background-position: 10% 0;}
}

.logo {
  position: absolute;
  top: 3vh;
  left: 3vw;
  font-size: 4em;
  width: auto;
  color: #B2E4DB;
  font-weight: 200;
  font-family: 'Spectral', serif;
  font-weight: 200;
}

.line-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 20vh;
  height: 60vh;
  .animation-line {
    position: relative;
    left: -50vw;
    width: 50vw;
    height: 3px;
    background: linear-gradient(to right, #252329, #A4CCDA, #A4CCDA, #A4CCDA);
    animation: lines 2s ease-in-out forwards;
  }
  .animation-line-hover {
    background: linear-gradient(to right, #252329, #50b9df, #50b9df, #50b9df);
  }
  @keyframes lines {
    0% {left: -50vw;}
    100% {left: 75vw;}
  }
}

.menu {
  width: 25vw;
  text-align: center;
  height: 80vh;
  position: absolute;
  left: 75vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 80vh;
    bottom: 3.5vh;
    .menu-list-item {
      font-family: 'Spectral', serif;
      font-size: 1.5em;
      font-weight: 200;
      cursor: pointer;
      animation: list 1s ease-in-out 2s forwards;
      opacity: 0;
    }
    .menu-list-item-link {
      color: #B2E4DB;
      text-decoration: none;
      transition: .15s ease;
    }
    .menu-list-item-link:hover{
      text-shadow: 0 0 10px #50b9df;
      color: #D7FDEC;
    }
    @keyframes list {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
}

.title {
  position: absolute;
  height: 60vh;
  top: 13vh;
  width: 75vw;
  color: #B2E4DB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: title 1s ease-in-out 2s forwards;
  opacity: 0;
  font-family: 'Spectral', serif;
  .title-box{
    text-align: left;
    .title-welcome {
      font-size: 5em;
      font-weight: 200;
    }
    .title-textbox {
      min-width: 300px;
      max-width: 500px;
      text-align: left;
      padding: 1rem;
      color: #B2E4DB;
      position: relative;
      font-weight: 200;
      .title-text-middle {
        padding: 10px 0;
      }
    }
    .title-textbox::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-image: linear-gradient(to bottom, #A9FBD7, #3a373f);
    }
  }
  @keyframes title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}

.footer-location {
  position: absolute;
  bottom: 10vh;
  opacity: 0;
  animation: footer 1s ease-in-out 2s forwards;
  @keyframes footer {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}