@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;600&family=Spectral:wght@200;400;600&display=swap');

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #252329;
  font-family: 'Spectral', serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

::-moz-selection { /* Code for Firefox */
  color: #252329;
  background: #B2E4DB;
}

::selection {
  color: #252329;
  background: #B2E4DB;
}